<div class="page-container">
  <h1 class="page-title">Editing User</h1>

  <%= render 'form', user: @user %>

  <div class="page-links">
    <%= link_to 'Show', @user, class: 'btn btn-secondary' %>
    <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
  </div>
</div>